<!DOCTYPE html>
<html>

<head>
	<title>Registrazione effettuata</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="colorPageUpdate">
	
	<div id="update-container">	
	
	<h3>Hai registrato un nuovo Presidente!
		Ecco la Registrazione del Presidente:
	</h3>
	<div>
		<strong>Nome: </strong>
		<span th:text="${presidente.name}"></span>
	</div>
	<div>
		<strong>Cognome: </strong>
		<span th:text="${presidente.surname}"></span>
	</div>
	<div>
		<strong>Email: </strong>
		<span th:text="${presidente.email}"></span>
	</div>
	
	
	<form th:action="@{/}" method="get">
		<button type="submit">Torna alla HomePage</button>
	</form>
	
	</div>
</body>
</html>